VITE_FB_apiKey=your_api_key_here
VITE_FB_authDomain=your_auth_domain_here
VITE_FB_projectId=your_project_id_here
VITE_FB_storageBucket=your_storage_bucket_here
VITE_FB_messagingSenderId=your_messaging_sender_id_here
VITE_FB_appId=your_app_id_here
